@use '../variables';
@use '../mixins';

.footer{
    background-color: variables.$brown-900;

    &__list{
        list-style: none;
        
        a{
            text-decoration: none;
            color: variables.$white;
        }
    
        &--siguenos{
            font-weight: 400;
            width: 100%;
            display: inline-block;
            text-align: center;
        }
    
        &--firts{
            width: 100%;
            display: inline-block;
            text-align: center;
        }
    }
    &__paragraph{
        color: variables.$white;
        text-align: center;
        span{
            color: variables.$red-900;
        }
    }
}

@include mixins.responsive('md') {
    .footer__list{
    
        &--siguenos{
            text-align: start;
        }
    
        &--firts{
           
            text-align: start;
        }
    }
   
}