@use '../variables';

.button {
    border-radius: 100px;
    border: none;
    padding: 10px 15px;
    width: 150px;
    color: variables.$white;

    &--fill {
        background-color: variables.$brown-800;
    }
    &--without-fill {
        background-color: transparent;
        border: 1px solid #F2994A;
    }
}
.card__button{
    border-radius: 60px;
    border: none;
    text-align: center;
    width: 60px;
    color: variables.$white;

    &--dev{
        background-color: variables.$brown-800;
    }
    &--mvp{
        background-color: variables.$dark-900;
    }
    &--ux-ui{
        background-color: variables.$brown-700;
    }
   
}
@include mixins.responsive('md') {
    .card__button{
        width: 80px;
    }
}